<h1 mat-dialog-title> Add Business </h1>
<div mat-dialog-content>
    <form [formGroup]="businessForm">

      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput placeholder="Name" >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Legal Name </mat-label>
        <input formControlName="lname" matInput placeholder="Legal Name" >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>ABN-number</mat-label>
        <input formControlName="abn_Number" matInput placeholder="ABN-number" >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>ACN-number</mat-label>
        <input formControlName="acn_Number" matInput placeholder="ACN-number" >
      </mat-form-field>


    </form>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addBusiness()" >{{actionbtn}}</button>

</div>